{% extends 'base.html' %}
{% block content %}
<section>
  <article>
    <h1>All Reservations</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date</th>
          <th>Time</th>
          <th>Table</th>
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
        <tr>
          <td>{{ booking.customer_name }}</td>
          <td>{{ booking.email }}</td>
          <td>{{ booking.reservation_date|date:"F j, Y" }}</td>
          <td>{{ booking.reservation_slot }}</td>
          <td>{{ booking.table_number }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</section>
{% endblock %}


